example.xyz {
    encode zstd gzip
    tls it@example.xyz {
        protocols tls1.2 tls1.3
    }
    redir https://www.example.xyz{uri}
}
www.example.xyz {
    encode zstd gzip
    tls it@example.xyz {
        protocols tls1.2 tls1.3
    }
    root * /var/www/example.xyz/html
    log {
        output file /var/log/caddy/example.xyz.access.log {
            roll_size 3MiB
	    roll_keep 5
	    roll_keep_for 48h
        }
        format console
    }
    php_fastcgi unix//run/php/php7.4-fpm.sock
    file_server
}
